.side-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 3rem;
    border: 2px solid brown;
    width: 16rem;
    text-align: center;
    height: 80vh;
    padding: 10px;
    margin-left: -1.8rem;
    background-color: aqua;
  }
  
  .sidenav-links {
    text-decoration: none;
    color: black;
  }