.post-area {
    margin: 10px auto;
    width: 40rem;
    /* text-align: center; */
}

.post-specs {
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 3rem;
}

.post-action-btns {
    margin: 10px;
}

.user-name {
    text-align: left;
    font-weight: 800;
    margin: 5px;
}

.user-name > span {
    color: grey;
}

.post-details {
    list-style: none;
}

.post-content {
    color: rgb(189, 185, 185);
    font-family: 'Jost', sans-serif;
}

.content-image {
    width: 100%;
}