.top-navigation {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 99.6%;
    z-index: 10;
    border: 1px solid sandybrown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;
    background-color: #ffcd90;
    margin: -8px -8px;
}

.logo-img {
    width: 150px;
}

.search-box {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
}

.search-box > input {
    border: none;
    outline: none;
}

.display-mode {
    font-size: 30px;
}