.profile-area {
    width: 45rem;
    position: relative;
    left: 25%;
    top: 2rem;
    padding: 15px;
    color: azure;
}

.user-details-section {
    box-shadow: 0px 3px 10px #6563631f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    text-align: center;
    font-size: 20px;
}

.username {
    color: grey;
    font-size: 16px;
}

.social-details {
    display: flex;
    gap: 5rem;
    padding: 15px;
    box-shadow: 1px 0px 9px rgb(32, 30, 30);
    text-align: center;
}

.user-link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(216, 141, 83);
    font-weight: bold;
}

.user-post-area > p {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: -35px;
}

.profile-action-btn {
    padding: 5px;
    border-radius: 8px;
    background-color: #daffef;
    font-weight: 600;
}

.profile-action-btn:hover {
    background-color: #325044;
    color: azure;
}

/* Edit Form Modal */

.edit-form-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 32%;
    top: 10%;
    background-color: rgba(38, 35, 31,0.9);
    color: azure;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    padding: 17px;
    width: 30rem;
}

textarea {
    width: 90%;
    resize: none;
    font-weight: bold;
}

.bio {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.name-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.name-inputs > input,
.user-links > input {
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.name-inputs > input:focus {
    border: 5px solid skyblue;
}

.user-links > input {
    width: 20rem;
}

.user-links {
    display: flex;
    justify-content: space-between;
}

.form-action-btns {
    display: flex;
    flex-direction: column;
    width: 5rem;
    margin-top: 20px;
    margin-left: 40%;
}
.action-btn {
    padding: 5px;
    border: none;
    font-weight: bold;
    background-color: #daffef;
    border-radius: 10px;
}

.action-btn:hover {
    background-color: #325044;
    color: azure;
}

.close-btn {
    background-color: rgb(184, 29, 29);
    color: white;
}


/* Avatars and Profile Picture */

.close-edit-field {
    margin-right: -25rem;
    font-size: 30px;
    font-weight: bold;
    
}
.profile-picture-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile-action-icon {
    color: azure;
    position: absolute;
    bottom: 2rem;
    right: 12em;
}

#profile-image {
    display: none;
}

.avatar-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.close-icon {
    float: right;
    font-size: 30px;
    font-weight: bolder;
}

.avatar-item:hover {
    border: 5px solid rgb(145, 76, 69);
    border-radius: 100px;
}

@media (max-width: 1300px)
{
    .profile-area {
        width: fit-content;
        position: static;
        left: 0;
        top: 3rem;
        padding: 0px;
        margin-top: 37px;
        font-size: 15px;
    }

    .edit-form-modal {
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 2%;
        top: 10%;
        font-weight: 600;
        border-radius: 20px;
        box-shadow: 2px 3px 5px black;
        padding: 3px;
        font-size: 14px;
        height: 75vh;
        overflow: scroll;
        width: fit-content;
    }
}

